.container {
  background: rgb(5, 39, 111);
  background: linear-gradient(rgb(80, 66, 232), rgb(228, 242, 149));
  border: 1px solid rgb(80, 66, 232);
  position: sticky;
  top: 0;
  /* display: flex;  */
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.title {
  color: rgb(15, 2, 2);
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vh;
  font-weight: 800;
  text-align: center;
 
}

.back {

  width: 20%;
  background: blue;
  padding: 0;
  color: rgb(111, 10, 10);
  border: 1 px solid black;
  cursor: pointer;
  outline: inherit;
  font-weight: 900;
  font-size: 3.5vh;

  
}

 .arrow {
  width: 50%;
  height: 100%;
  color: #000;
} 
