@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// COLORS
$primary-color: #41e895;
$green: #154e12;
$red: #f34545;
$yellow: #ebe70d;
$dark-grey: #2b2c2e;
$medium-grey: #201c2910;
$grey: #a1adba;
$light-grey: #eaeef1;

$light-grey-2: #ccc;
$light-grey-3: #f6f6f6;

$white: #fff;
$black: #202020;

// FONT
$default-font-size: 1.5rem;
$main-font: 'Quicksand', sans-serif;

// WIDTH
$default-width: 94%;
$max-width: 120rem;
$item-max-width: 30rem;
$text-max-width: 68rem;

// HEIGHT
